* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* //////////////////HEADER//////////////////// */

.header-template {
  width: 100%;
  height: 7rem;
  background-color: #072146;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-template > img {
  width: 7rem;
}

.header-template > h2 {
  color: white;
  font-size: 40px;
}

.navbar {
  width: 100%;
  height: 4rem;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav > li {
  list-style: none;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  padding-right: 10px;
}

.nav > li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.nav > li > a {
  color: #827e8c;
  text-decoration: none;
  font-size: 18px;
}

/* //////////////////MAIN//////////////////// */

.theme {
  width: 100%;
  height: 29rem;
  /* background-color:#043262; */
  background-image: url(img/theme.jpg);
  background-size: cover;
  background-position: -5px;
}

.introduction {
  width: 100%;
  height: 30rem;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.introduction1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 7rem;
}

.introduction1-1 {
  width: 100%;
  height: 50%;
  border: 2px solid #1973b8;
  border-radius: 0.5rem;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
}

.introduction1-1 > h1 {
  font-size: 45px;
  color: #3394dd;
  margin-bottom: 2rem;
}

.introduction1-1 > p {
  font-size: 20px;
  color: black;
}

.introduction2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.introduction2 > img {
  width: 9rem;
}

.fundamentals {
  width: 100%;
  height: 50rem;
  background-color: #1973b8;
  /* padding-left: 7rem;
  padding-right: 7rem; */
}

.fundamentals > h2 {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 45px;
  color: white;
}

.fundamentals1 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: white;
}

.fundamentals1-1 {
  width: 13rem;
  height: 10rem;
  padding-top: 6rem;
  background-color: #072146;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.fundamentals1-1 > h3 {
  font-size: 22px;
  margin-bottom: 0.5rem;
}

.fundamentals1-1 > p {
  font-size: 15px;
}

.fundamentals2 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: white;
}

.fundamentals2-2 {
  width: 13rem;
  height: 10rem;
  background-color: #072146;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.fundamentals2-2 > h3 {
  font-size: 22px;
  margin-bottom: 0.5rem;
}

.fundamentals2-2 > p {
  font-size: 15px;
}

.standards {
  width: 100%;
  height: 60rem;
  background-color: rgb(255, 255, 255);
}

.standards > h2 {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-size: 45px;
  color: #1973b8;
  padding-bottom: 4rem;
}

.containerBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  gap: 1.5rem;
}

.boxesProject {
  background-image: url(black.jpg);
  width: 100%;
  height: 40rem;
}

.boxProject {
  position: relative;
  width: 270px;
  height: 250px;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px #4874ec;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxProject:hover {
  transform: scale(1.1);
  transition: all 500ms ease-out;
}

.boxProject figure {
  display: flex;
  justify-content: center;
}

.boxProject figure img {
  width: 16rem;
  transition: all 500ms ease-out;
}

.boxProject figure .capa {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(32, 28, 46, 0.8);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.boxProject figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.boxProject figure:hover > .capa h3 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.boxProject figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  font-weight: bold;
}

.boxProject figure .capa p {
  color: #fff;
  font-size: 14px;
  width: 100%;
  margin: auto;
  font-weight: bold;
}

.quality {
  width: 100%;
  height: 70rem;
  background-color: rgb(216, 210, 210);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.quality > p {
  padding-bottom: 3rem;
}

.qualityImg {
  display: flex;
  align-items: center;
}

.qualityImg > img {
  width: 3rem;
}

.quality1 {
  width: 50%;
  padding-left: 6.5rem;
}

.quality1 > p {
  padding-bottom: 2rem;
}

.quality > h2 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #1973b8;
}

.quality > p {
  padding-left: 6rem;
  padding-right: 6rem;
}

.qualityImg > h3 {
  color: #1973b8;
}

.quality2 {
  width: 50%;
  padding-right: 6.5rem;
}

.quality2 > h3 {
  color: #1973b8;
}

.quality2 > p {
  padding-bottom: 2rem;
}

.contentQuality {
  display: flex;
  gap: 3rem;
}

.importance {
  width: 100%;
  height: 35rem;
  background-color: gray;
  display: flex;
}

.importance1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 6rem;
}

.importance1-1 {
  width: 100%;
  padding-right: 2rem;
}

.importance1-1 > h1 {
  font-size: 45px;
  color: white;
  margin-bottom: 2rem;
}

.importance1-1 > p {
  font-size: 17px;
  color: black;
}

.importance2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5rem;
}

.importance2 > iframe {
  position: relative;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.importance2 > iframe:hover {
  position: relative;
  border: 2px solid rgb(0, 247, 255);
  border-radius: 0rem;
  transition: border-radius 0.15s ease-in-out; /* Agregamos la transición para border-radius */
}

.tools {
  width: 100%;
  height: 260rem;
  background-color: #072146;
}

.tools > h2 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #1973b8;
}

.tools > p {
  color: white;
  padding-left: 6.5rem;
  padding-right: 3.5rem;
  padding-bottom: 4rem;
}

.tools > h3 {
  padding-left: 6.5rem;
  padding-bottom: 3rem;
  color: #3394dd;
}

.funcionales {
  width: 78%;
  height: 20rem;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin-left: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.funcionales:hover {
  border: 2px solid rgb(8, 206, 241);
}

.organiceFuncionales > h3 {
  padding-bottom: 2rem;
  color: rgb(15, 173, 235);
  font-weight: bold;
  font-size: 30px;
  padding-top: 1rem;
}

.contentFuncionales {
  display: flex;
}

.contentFuncionales > a > img {
  width: 14rem;
  border-radius: 0.5rem;
  border: none;
}

.contentFuncionales > a > img:hover {
  border: 2px solid #3394dd;
  transform: scale(1.07);
  transition: transform 0.3s ease-in-out;
}

.contentFuncionales > p {
  color: white;
  padding-right: 5rem;
}

.rendimiento {
  width: 78%;
  height: 20rem;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin-left: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.rendimiento:hover {
  border: 2px solid rgb(8, 206, 241);
}

.defectos {
  width: 78%;
  height: 20rem;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin-left: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.defectos:hover {
  border: 2px solid rgb(8, 206, 241);
}

.api {
  width: 78%;
  height: 20rem;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin-left: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.api:hover {
  border: 2px solid rgb(8, 206, 241);
}

.seguridad {
  width: 78%;
  height: 20rem;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin-left: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.seguridad:hover {
  border: 2px solid rgb(8, 206, 241);
}

.navegadores {
  width: 78%;
  height: 20rem;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin-left: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.navegadores:hover {
  border: 2px solid rgb(8, 206, 241);
}

.moviles {
  width: 78%;
  height: 20rem;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin-left: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.moviles:hover {
  border: 2px solid rgb(8, 206, 241);
}

.plan {
  width: 100%;
  height: 34rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan > h2 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  font-size: 45px;
  color: #1973b8;
}

.plan > iframe {
  border: 3px solid rgb(75, 17, 235);
  border-radius: 0.5rem;
}

/* //////////////////FOOTER//////////////////// */

.about {
  width: 100%;
  height: 10rem;
  background-color: black;
}

.about1 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about1 > img {
  width: 2.5rem;
}

.about2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  gap: 1rem;
}

.about2 > img {
  width: 3rem;
}

.abrir-menu,.cerrar-menu{
  display: none;
}

/* ----------------------- QUERY ----------------------------- */

@media (max-width: 480px) {
  .header-template > img {
    width: 4rem;
  }

  .header-template > h2 {
    font-size: 25px;
  }

  /* .navbar {
    display: none;
  } */

  .header-template {
    padding-left: 1.5rem;
    justify-content: start;
  }

  .theme {
    height: 18rem;
    background-position: -50px;
  }

  .introduction1 {
    padding-left: 1.5rem;
  }

  .introduction1-1 > h1 {
    font-size: 27px;
  }

  .introduction1-1 > p {
    font-size: 12px;
  }

  .introduction2 > img {
    width: 6rem;
  }
  .introduction1-1 {
    height: 80%;
    border: 0px solid #1973b8;
    border-radius: 0rem;
    padding: 0rem;
    padding-bottom: 0rem;
  }

  .introduction {
    height: 25rem;
  }

  .fundamentals > h2 {
    font-size: 23px;
    margin-bottom: 4rem;
  }

  .fundamentals {
    height: 130rem;
    display: flex;
    flex-direction: column;
  }

  .fundamentals1 {
    height: 45rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
  }

  .fundamentals2 {
    height: 45rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .standards {
    height: 160rem;
  }

  .standards > h2 {
    font-size: 26px;
  }

  .containerBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 73rem;
    gap: 2.5rem;
  }

  .quality {
    height: 155rem;
  }

  .quality > h2 {
    font-size: 23px;
    text-align: center;
  }

  .quality > p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
  }

  .quality1 {
    width: 70%;
    padding-left: 1.5rem;
  }

  .contentQuality {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .quality2 {
    width: 70%;
    padding-right: 0rem;
    padding-left: 1.5rem;
  }

  .importance {
    flex-direction: column;
    height: 35rem;
  }

  .importance1 {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: start;
    align-items: start;
    color: white;
    padding-left: 1.5rem;
  }

  .importance1-1 > h1 {
    font-size: 23px;
    text-align: center;
    padding-top: 4rem;
  }
  .importance2 {
    width: 80%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0rem;
    padding-left: 2.5rem;
  }

  .importance2 > iframe {
    width: 100%;
    height: 100%;
  }

  .tools {
    height: 500rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tools > h2 {
    font-size: 21px;
    text-align: center;
  }

  .tools > p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 4rem;
  }

  .tools > h3 {
    padding-left: 1.5rem;
    padding-bottom: 3rem;
  }
  .funcionales {
    width: 70%;
    height: 55rem;
    margin-left: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
  }

  .contentFuncionales {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .organiceFuncionales > h3 {
    padding-bottom: 1rem;
    color: rgb(15, 173, 235);
    font-weight: bold;
    font-size: 30px;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    border: 2px solid #3619b8;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .contentFuncionales > p {
    color: white;
    padding-right: 0rem;
    text-align: center;
  }

  .rendimiento {
    width: 70%;
    height: 55rem;
    margin-left: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
  }
  .defectos {
    width: 70%;
    height: 55rem;
    margin-left: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
  }

  .api {
    width: 70%;
    height: 55rem;
    margin-left: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
  }

  .seguridad {
    width: 70%;
    height: 55rem;
    margin-left: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
  }

  .navegadores {
    width: 70%;
    height: 55rem;
    margin-left: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
  }

  .moviles {
    width: 70%;
    height: 55rem;
    margin-left: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
  }

  .plan {
    width: 100%;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    text-align: center;
    padding-top: 5rem;
  }

  .plan > iframe {
    width: 80%;
    height: 35%;
  }

  .about {
    height: 7rem;
  }

  .about1 > img {
    width: 2rem;
  }

  .about2 > h2 {
    font-size: 15px;
  }

  .about2 > img {
    width: 2rem;
  }


  /* ---------------Hamburguesa---------- */
  
.abrir-menu,.cerrar-menu{
  display: block;
  border: 0;
 
  background-color: transparent;
  cursor: pointer;

}

.abrir-menu{
  color: white;
  font-size: 2.25rem;
}

.cerrar-menu{
  color: white;
  font-size: 1.25rem;
}

.navlist {
opacity: 0;
visibility: hidden;}

.nav > li {

  border-right: 0px solid #ccc;
  margin-right: 0px;
  padding-right: 0px;
}

.navlist{
  position: absolute;
  top: 8rem;
  background-color: #000000;
  padding: 1.5rem;
  border: 2px solid #052c49;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  padding-bottom:2rem;
}

.nav{
  flex-direction: column;
 
}

.navlist.visible{
  opacity: 1;
  visibility: visible;
}




}
